on: [push, pull_request]

name: Test

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
        - stable
        - beta
        - nightly
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}
    - run: cargo test
